@import "Vars";

.map-view__container {
    position: relative;
}

.map-view {
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.minimap {
    width: 30vw;
    height: 50vh;
    z-index: 10;
}
.minimap2 {
    width: 83.5vw;
    height: 59vh;
    z-index: 5;
}

.minimap3{
    width: 65vw;
    height: 85vh;
    z-index: 5;
}   
.minimap2sub {
    width: 50vw;
    height: 70vh;
    z-index: 1;
    
}

.minimap2sub1 {
    width: 100%;
    height: 85vh;
    z-index: 5;
}

.minimap4{
    width: 25vw;
    height: 50vh;
    z-index: 5;
} 
.minimap5{
    width: 150%;
    height: 100%;
    z-index: 10;
    margin-left:262px;
    margin-top: 5 px;
    margin-bottom: 10px;
  
} 